<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true">
    <testsuites>
        <testsuite name="ZendSkeletonApplication Test Suite">
            <directory>./module/AlthingiAggregator/tests/.</directory>
        </testsuite>
    </testsuites>

    <php>
        <env name="LOG_PATH" value="" />
        <env name="CONSUMER_CACHE_TYPE" value="" />
        <var name="APPLICATION_ENVIRONMENT" value="production" />
    </php>

    <!--<logging>-->
        <!--<log type="junit" target="../docs/tests/report.junit.xml" />-->
        <!--<log type="coverage-html" target="../docs/tests/report" charset="UTF-8"-->
             <!--yui="true" highlight="true" lowUpperBound="50" highLowerBound="80"/>-->
        <!--<log type="testdox-html" target="../docs/tests/testdox.html" />-->
    <!--</logging>-->

</phpunit>
