<?xml version="1.0" encoding="UTF-8"?>

<phpunit bootstrap = "vendor/autoload.php"
    backupGlobals               = "false"
    backupStaticAttributes      = "false"
    colors                      = "true"
    convertErrorsToExceptions   = "true"
    convertNoticesToExceptions  = "true"
    convertWarningsToExceptions = "true"
    processIsolation            = "false"
    stopOnFailure               = "false">


    <filter>
        <!--
            while this produces a warning in the console... if this is not provided,
            the code-sniffer will run out of memory :|
        -->
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>

    <coverage includeUncoveredFiles="true"
        processUncoveredFiles="true"
        pathCoverage="true"
        ignoreDeprecatedCodeUnits="true"
        disableCodeCoverageIgnore="true">
        <include>
            <directory suffix=".php">src</directory>
        </include>
        <exclude>
            <directory suffix=".php">tests</directory>
            <directory suffix=".php">config</directory>
        </exclude>
    </coverage>

</phpunit>
